<!-- Footer -->

<section class="footer-section" id="rubrieken">
  <footer class="text-center text-lg-start footer">

    <!-- Copyright -->
    <div class="text-center text-white p-3">
      Made with ❤️ by Marieke Brebels
    </div>
    <!-- Copyright -->
  </footer>
</section>

</body>

</html>
