<%- include("partials/header"); -%>

<!-- Homepage -->

    <img class="logoImage" src="images/LogoHome.PNG">

    <div class="row">

      <div class="col-lg-12">
        <h1 class="big-heading">BOOZE & BITES</h1>
        <p class="small-heading">Marieke's Favorites</p>
      </div>

    </div>

  </div>

</section>

<!-- Kleine omschrijving -->
<section class="info-section" id="description">

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6 text-left">
        <img class="macarons" src="images/Macarons.PNG">
      </div>

      <div class="col-lg-6">
        <h2>Wat kan je hier vinden?</h2>
        <p>Je kan hier lekkere recepten vinden die komen uit eigen keuken, mijn ouders keuken en mijn vriend zijn keuken. Ik heb hier ook lijstjes gemaakt van mijn favoriete wijntjes en gins zodat ik dit altijd makkelijk kan terugvinden. Hetzelfde
          heb ik met mijn favoriete restaurants gedaan.</p>
      </div>
    </div>
  </div>
</section>

<!-- Rubrieken -->
<section class="rubrieken-section" id="rubrieken">

  <div class="container-fluid">
    <h2 class="rubriek-heading">DE KEUZE IS REUZE</h2>
    <div class="row">
      <div class="feature-box col-lg-4 rubriek">
        <img class="Recepten" src="images/Recepten.PNG">
        <h3 class="feature-title">Recepten.</h3>
        <p>Diverse lekkere recepten van mezelf en uit mama's keuken.</p>
      </div>
      <div class="feature-box col-lg-4 rubriek">
        <img class="Wijn" src="images/wijn.PNG">
        <h3 class="feature-title">Wijn & Gin</h3>
        <p>Lijstjes met mijn favoriete wijn en gin met een score en kleine beschrijving erbij. Zo vergeet ik nooit meer wat ik lekker vond.</p>
      </div>
      <div class="feature-box col-lg-4 rubriek">
        <img class="Restaurants" src="images/Restaurants.PNG">
        <h3 class="feature-title">Restaurants.</h3>
        <p>De leukste restaurants in Nuenen & Eindhoven met de beste biefstuk, bediening, 3-gangen menu etc.</p>
      </div>
    </div>
  </div>
  </section>

  <%- include("partials/footer"); -%>
