<%- include("partials/header"); -%>

</div>
</section>

<!-- Recepten page -->
<section class="recepten">
  <div class="container">

    <!-- <div class="row">
      <div class="col">
        <h3 class="pageTitle">Recepten</h3>
      </div>

    </div> -->

    <div class="row">
      <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img src="/images/tiramisu.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">Tiramisu</div>
            <div class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</div>
            <!-- <div class="d-flex justify-content-between align-items-center"> -->
            <div class="d-flex align-items-start flex-column">
            <div class="btn-group mt-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img src="/images/tiramisu.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">Tiramisu</div>
            <div class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</div>
            <div class="d-flex align-items-start flex-column">
              <div class="btn-group mt-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img src="/images/tiramisu.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">Tiramisu</div>
            <div class="card-text">This is a los content is a little bit longer.</div>
            <div class="d-flex align-items-start flex-column">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img src="/images/tiramisu.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">Tiramisu</div>
            <div class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</div>
            <div class="d-flex align-items-start flex-column">
              <div class="btn-group mt-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img src="/images/tiramisu.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">Tiramisu</div>
            <div class="card-text">This is a longer card with supportingt longer.</div>
            <div class="d-flex align-items-start flex-column">
              <div class="btn-group mt-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>








<!-- <div class="row .row-cols-3 ">
      <div class="card col-lg-4">
        <img src="/images/tiramisu.PNG" alt="">
        <div class="card-body">
          <h5 class="card-title">Tiramisu</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Recept bekijken</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
 -->


<%- include("partials/footer"); -%>
