<%- include("partials/header"); -%>

</div>
</section>

<!-- restaurants page -->
<section class="restaurants">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-lg-0 order-2">
        <div class="row">
          <div class="col-md-4 mb-4"> <img class="img1" src="/images/olijf.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Olijf</div>
            <div class="badges float-end">
              <span class="badge bg-groen">Biefstuk</span>
              <span class="badge bg-pink">Goedkoop</span>
              <span class="badge bg-yellow">Italiaans</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
            <div class="badges float-end">
              <span class="badge rounded-pill bg-score">9</span>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/olijf.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Olijf</div>
            <div class="badges float-end">
              <span class="badge bg-groen">Biefstuk</span>
              <span class="badge bg-pink">Goedkoop</span>
              <span class="badge bg-yellow">Italiaans</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
            <div class="badges float-end">
              <span class="badge rounded-pill bg-score">9</span>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/olijf.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Olijf</div>
            <div class="badges float-end">
              <span class="badge bg-groen">Biefstuk</span>
              <span class="badge bg-pink">Goedkoop</span>
              <span class="badge bg-yellow">Italiaans</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
            <div class="badges float-end">
              <span class="badge rounded-pill bg-score">9</span>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/olijf.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Olijf</div>
            <div class="badges float-end">
              <span class="badge bg-groen">Biefstuk</span>
              <span class="badge bg-pink">Goedkoop</span>
              <span class="badge bg-yellow">Italiaans</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
            <div class="badges float-end">
              <span class="badge rounded-pill bg-score">9</span>
            </div>
          </div>
          <hr>

        </div>
      </div>
      <!-- <div class="col-lg-4 order-lg-1 mb-3 categories"> <span class="fs-4 mb-2 fw-bold text-capitalize">Categorieën</span>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Biefstuk</span> <span class="bg-red">340</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>3-gangen diner</span> <span class="bg-orgn">74</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Italiaans</span> <span class="bg-blu">41</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Goedkoop</span> <span class="bg-violet">35</span> </div>
        </div>
        <!-- <div class="d-flex flex-wrap my-5"> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Chorme" href="#">Vies</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="CSS" href="#">Heel lekker</a> <a -->
            <!-- class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Tutorial" href="#">Minder lekker</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Backend" href="#">Prima</a></div> -->
      </div>
    <!-- </div>
  </div> -->


</section>




















</section>

<%- include("partials/footer"); -%>
