<%- include("partials/header"); -%>

</div>
</section>

<!-- restaurants page -->
<section class="restaurants">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-lg-0 order-2">
        <div class="row">
          <div class="col-md-4 mb-4"> <img class="" src="/images/olijf.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div>
              <div class="text-capitalize fs5 my-3 fw-bolder ginTitle">Olijf  <span class="text-muted ps-4">Nuenen</span>  </div>
              <div class="d-flex align-items-center"> <span class="bg-org">Heel lekker</span></div>
              <br>
              <p class="text-muted">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </a>
            </div>
          </div>
          <div class="col-md-4 mb-4"> <img class="" src="/images/Bulldog.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div>
              <p class="text-capitalize fs5 my-3 fw-bolder ginTitle">Bulldog</p>
              <div class="d-flex align-items-center"> <span class="bg-blue">Prima</span></div>
              <br>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. numquam, quisquam ad, necessitatibus illum explicabo ut pariatur iusto asperiores dicta repudiandae delectus facere </a>
            </div>
          </div>
          <div class="col-md-4 mb-4"> <img src="/images/oudsbergen.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="d-flex align-items-center"> <span class="bg-vio">Minder lekker</span></div>
            <div>
              <p class="text-capitalize fs5 my-3 fw-bolder ginTitle">Oudsbergen Gin</p>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. numquam, quisquam ad, necessitatibus illum explicabo ut pariatur iusto asperiores dicta repudiandae delectus facere </a>
            </div>
          </div>
          <div class="col-md-4 mb-4"> <img src="/images/Opihr_Oriental_Spiced_London_dry_gin.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="d-flex align-items-center"> <span class="bg-redlogo">Vies</span></div>
            <div>
              <p class="text-capitalize fs5 my-3 fw-bolder ginTitle">Opihr oriental spciced london dry gin</p>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. numquam, quisquam ad, necessitatibus illum explicabo ut pariatur iusto asperiores dicta repudiandae delectus facere </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-lg-1 mb-3 categories"> <span class="fs-4 mb-2 fw-bold text-capitalize">Categorieën</span>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Biefstuk</span> <span class="bg-red">340</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>3-gangen diner</span> <span class="bg-orgn">74</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Italiaans</span> <span class="bg-blu">41</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Goedkoop</span> <span class="bg-violet">35</span> </div>
        </div>
        <!-- <div class="d-flex flex-wrap my-5"> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Chorme" href="#">Vies</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="CSS" href="#">Heel lekker</a> <a
            class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Tutorial" href="#">Minder lekker</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Backend" href="#">Prima</a></div> -->
      </div>
    </div>
  </div>


</section>




















</section>

<%- include("partials/footer"); -%>
