<%- include("partials/header"); -%>

</div>
</section>

<!-- Wijn en gin page -->
<section class="wijnengin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-lg-0 order-2">
        <div class="row">
          <div class="col-md-4 mb-4"> <img class="img1" src="/images/tanqueray.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Tanqueray</div>
            <div class="badges float-end">
              <span class="badge bg-groen">Heel lekker</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/Bulldog.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Bulldog</div>
            <div class="badges float-end">
              <span class="badge bg-pink">Prima</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/oudsbergen.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Oudsbergen Gin</div>
            <div class="badges float-end">
              <span class="badge bg-yellow">Minder lekker</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
          </div>
          <hr>

          <div class="col-md-4 mb-4"> <img class="img1" src="/images/Opihr_Oriental_Spiced_London_dry_gin.PNG"> </div>
          <div class="col-md-8 mb-4">
            <div class="float-start my-3 ginTitle">Opihr oriental spciced london dry gin</div>
            <div class="badges float-end">
              <span class="badge bg-purple">Vies</span>
            </div>
            <div>
              <div class="description">Verwen je smaakpupillen met een heerlijk verfrissende, volle smaak van gin met tonen van peper, die volledig tot zijn recht komen wanneer het wordt gecombineerd met tonic en limoen. </div>
            </div>
          </div>
        </div>
        <hr>

      </div>
      <!-- <div class="col-lg-4 order-lg-1 mb-3 categories"> <span class="fs-4 mb-2 fw-bold text-capitalize">Categorieën</span>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Vies</span> <span class="bg-red">340</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Heel lekker</span> <span class="bg-orgn">74</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Prima</span> <span class="bg-blu">41</span> </div>
          <div class="d-flex align-items-center justify-content-between border-bottom py-2"> <span>Minder lekker</span> <span class="bg-violet">35</span> </div>
          <div class="d-flex flex-wrap my-5"> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Chorme" href="#">Vies</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="CSS" href="#">Heel lekker</a> <a
              class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Tutorial" href="#">Minder lekker</a> <a class="items" data-bs-toggle="tooltip" data-bs-placement="top" title="Backend" href="#">Prima</a></div>
        </div>
      </div> -->
    </div>
  </div>


</section>

<!-- <script src="app.js" type="text/javascript"></script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
  })


</script> -->


<%- include("partials/footer"); -%>
