body {
  background-color: #fdfdf6;
  min-height: 100vh;
}

h1 {
  font-family: "Limelight";
  color: #b8b2a6;
  text-align: center;
  font-size: 8rem;
}

h2 {
  font-family: "Oswald";
  color: #fdfdf6;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  padding-bottom: 5%;
}

h3 {
  font-family: "Montserrat";
  color: #fabec0;
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
}

h5 {
    font-family: "Montserrat";
      font-size: 0.5rem;
}

p {
  color: #b8b2a6;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.small-heading {
  font-family: "Niconne";
  font-size: 2rem;
  text-align: center;
  color: #b8b2a6;
  padding-bottom: 3%;
}

.rubriek-heading {
  font-family: "Oswald";
  color: #fabec0;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Containers */
.container-fluid {
  padding: 2%;
}

.logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%
}

.nav-item {
  padding: 0 18px;
  color: #b8b2a6;
  font-family: "Oswald";
}

/* Kleine omschrijving */
.info-section {
  padding: 5% 5%;
  background: #F4DADA;
}

.macarons {
  width: 50%;
}

/* rubrieken */
#rubrieken {
  position: relative;
}

.feature-title {
  font-family: "Oswald";
  color: #fabec0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 5%;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.rubriek p {
  text-align: center;
  font-size: 1rem;
}

/* Footer */
.footer-padding {
  padding-bottom: 60px;
}

.footer {
  /* text-align: center; */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F4DADA;
  margin-top: 16px;
}

/* Recepten */
.recepten {
  margin-top: 50px;
}

.card {
  margin-top: 16px;
  background-color: #FFFDF9;

}

.card-title {
  text-align: left;
  font-family: "Montserrat";
  color: dimgrey;
  font-weight: bold;
  font-size: 1rem;
}

.card-text {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: black;
  text-align: left;
  margin-bottom: 1rem;
}

.recipebutton {
  font-size: 1rem;
  color: black;
  margin-bottom: 10%;
}

/* Wijn en gin */
.wijnengin {
  margin-top: 50px;
}

img {
  width: 100%;
  height: 10vw;
  object-fit: contain;
  margin-top: 20px;
}

.ginTitle {
  color: #b8b2a6;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

.bg-org {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    background-color: #DBE9B7;
    color: white;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px
}

.bg-org:hover {
    background-color: #eec67c
}

.bg-blue {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    background-color: #A8E6CF;
    color: white;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px
}

.bg-blue:hover {
    background-color: #abb0f5
}

.bg-vio {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    background-color: #F4DADA;
    color: white;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px
}

.bg-vio:hover {
    background-color: #ce89ee
}

.bg-redlogo {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    background-color: #FFAAA5;
    color: white;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px
}

.bg-redlogo:hover {
    background-color: #F4DADA
}

.bg-red {
    background-color: #FFAAA5;
    border-radius: 10%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px
}

.bg-orgn {
    background-color: #DBE9B7;
    border-radius: 10%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px
}

.bg-blu {
    background-color: #A8E6CF;
    border-radius: 10%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px
}

.bg-violet {
    background-color: #F4DADA;
    border-radius: 10%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px
}

.text-muted {
    font-size: 14px;
    text-align: left;
}

.fs5 {
    line-height: 20px;
    font-size: 16px
}

.items {
    font-size: 15px;
    background-color: #F4DADA!important;
    color: white;
    margin: 3px 3px;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid #ddd
}

.items:hover {
    background-color: #fcf7f7;
    color: black;
    transition: background-color .8s
}

.categories {
  color: #b8b2a6;
  font-family: "Montserrat"
}
