body {
  background-color: #fdfdf6;
  min-height: 100vh;
}

h1 {
  font-family: "Limelight";
  color: #b8b2a6;
  text-align: center;
  font-size: 8rem;
}

h2 {
  font-family: "Oswald";
  color: #fdfdf6;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  padding-bottom: 5%;
}

h3 {
  font-family: "Montserrat";
  color: #fabec0;
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
}

h5 {
    font-family: "Montserrat";
      font-size: 0.5rem;
}

p {
  color: #b8b2a6;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.small-heading {
  font-family: "Niconne";
  font-size: 2rem;
  text-align: center;
  color: #b8b2a6;
  padding-bottom: 3%;
}

.rubriek-heading {
  font-family: "Oswald";
  color: #fabec0;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Containers */
.container-fluid {
  padding: 2%;
}

.logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%
}

.nav-item {
  padding: 0 18px;
  color: #b8b2a6;
  font-family: "Oswald";
}

/* Kleine omschrijving */
.info-section {
  padding: 5% 5%;
  background: #F4DADA;
}

.macarons {
  width: 50%;
}

/* rubrieken */
#rubrieken {
  position: relative;
}

.feature-title {
  font-family: "Oswald";
  color: #fabec0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 5%;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.rubriek p {
  text-align: center;
  font-size: 1rem;
}

/* Footer */
.footer-padding {
  padding-bottom: 60px;
}

.footer {
  /* text-align: center; */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F4DADA;
}

/* Recepten */
.card {
  margin-top: 16px;

}

.card-title {
  text-align: left;
  font-family: "Montserrat";
  color: dimgrey;
  font-weight: bold;
  font-size: 1rem;
}

.card-text {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: black;
  text-align: left;
  margin-bottom: 1rem;
}

.recipebutton {
  font-size: 1rem;
  color: black;
  margin-bottom: 10%;
}

/* Wijn en gin */
.ginImage {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}
